<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C64A71B1D2FFA6000997802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C64A7341D2FFA6100997802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C64A73F1D2FFA6100997802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
